# Android Studio / IntelliJ
*.iml
.idea/

# Local environment
local.properties

# Gradle and Kotlin build output
.gradle/
.kotlin/
build/
**/build/

# Native build output
.externalNativeBuild/
.cxx/

# Capture/output folders
captures/

# OS files
.DS_Store
Thumbs.db

*.md
!README.md